$lg-screens-and-wider: "screen and (width >= 1024px)";

:root {
  --primary-font: 'Inter', sans-serif;
  --secondary-font: 'Lexend Deca', sans-serif;
  --white: hsl(0deg, 0%, 100%);
  --transparent-white-paragraph: hsla(0deg, 0%, 100%, 0.75);
  --transparent-white-headings: hsla(0deg, 0%, 100%, 0.6);
  --very-dark-blue: hsl(233deg, 47%, 7%);
  --dark-desaturated-blue: hsl(244deg, 38%, 16%);
  --soft-violet: hsl(277deg, 64%, 61%);
  --mobile-bg-header: url('/src/images/image-header-mobile.jpg');
  --desktop-bg-header: url('/src/images/image-header-desktop.jpg');
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 20rem;
  background-color: var(--very-dark-blue);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-desaturated-blue);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--white);
  width: 100%;
  max-width: 20.4375rem;

  .card__header {
    background-image: var(--mobile-bg-header);
    background-color: var(--soft-violet);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .card__content {
    padding: 15px 25px;
    width: 100%;
    text-align: center;

    .card__heading {
      font-size: 1.75rem;
      font-weight: 700;
    }

    .card__highlight {
      color: var(--soft-violet);
    }

    .card__description {
      font-size: 1rem;
      line-height: 1.5em;
      color: var(--transparent-white-paragraph);
    }

    .card__stats {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      list-style-type: none;
      padding: 0;
      margin: 0;

      .stats__figure {
        font-weight: 700;
        font-size: 1.5rem;
      }
          
      .stats__heading {
        font-family: var(--secondary-font);
        font-weight: 400;
        color: var(--transparent-white-headings);
        text-transform: uppercase;
        font-size: 0.75rem;
        letter-spacing: 0.125em;
        margin-top: -15px;
      }
    }
  }
}

@media #{$lg-screens-and-wider} {
  .card {
    flex-direction: row-reverse;
    max-width: 70rem;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 0;

    .card__header {
      background-image: var(--desktop-bg-header);
      height: 27.9375rem;
      width: 34rem;
      border-top-left-radius: 0;
      border-bottom-right-radius: 12px;
    }

    .card__content {
      padding: 45px 80px;
      width: 36rem;
      text-align: left;

      .card__heading {
        font-size: 2.2rem;
      }

      .card__stats {
        flex-direction: row;
        width: 21.75rem;
        margin-top: 50px;
      }
    }
  }
}
